<div class="col-md-11 col-sm-12 col-xs-12 col-centered">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>
        职位列表
        <div class="dropdown clearfix pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expander="true" >
            排序
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
            <li><%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %></li>
            <li><%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %></li>
            <li><%= link_to("按照发表时间排序", jobs_path) %></li>
          </ul>
        </div>
      </h3>
    </div>
    <div class="panel-body">
      <%= render :partial => "job", :collection => @jobs, :as => :job %>
    </div>
  </div>

  <div class="text-center">
     <%= will_paginate @jobs %>
  </div>
</div>
