  <div class="jumbotron">
    <h1 class="title">易聘</h1>
    <p class="slogan">易聘，让求职更加简单
      <br>
      找工作，so easy! 妈妈再也不用担心我的工作！
    </p>
    <p class="lead"><a class="btn btn-lg btn-primary" href="/jobs">马上应聘</a></p>
  </div>

  <section id="content-1">
  <div class = "container-fluid">
    <div class="feature-title">
      <div class="short-line"></div>
      <h3 class="text-center">你可以更快找到想要的工作</h3>
    </div>
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <%= image_tag 'pic-1.png', class: "img-thumbnail" %>
          <div class="caption">
            <h4>更多优质公司</h4>
            <p>通过精准职位发布、搜索帮助大家找到准确、适合的
            工作，提升工作筛选应聘效率。 </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <%= image_tag 'pic-2.png', class: "img-thumbnail" %>
          <div class="caption">
            <h4>让你脱颖而出</h4>
            <p>创立独特的人才精准匹配体系，个性化的候选人意向确认服务，帮你找到合适的工作。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <%= image_tag 'pic-3.png', class: "img-thumbnail" %>
          <div class="caption">
            <h4>48小时内回复</h4>
            <p>智能查看简历投递状态，48小时内回复，漏接电话短信提醒，确保及时收到回复。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="content-2">
  <div class="feature-title">
    <div class="short-line"></div>
    <h3 class="text-center">我们的合作伙伴</h3>
  </div>
  <div class="list">
    <%= image_tag 'pic-4.png', class: "img-thumbnail" %>
    <%= image_tag 'pic-5.jpg', class: "img-thumbnail" %>
    <%= image_tag 'pic-6.png', class: "img-thumbnail" %>
    <%= image_tag 'pic-7.jpg', class: "img-thumbnail" %>
    <%= image_tag 'pic-8.jpg', class: "img-thumbnail" %>
  </div>
  <div class="list">
    <%= image_tag 'pic-a.png', class: "img-thumbnail" %>
    <%= image_tag 'pic-b.png', class: "img-thumbnail" %>
    <%= image_tag 'pic-c.png', class: "img-thumbnail" %>
    <%= image_tag 'pic-d.png', class: "img-thumbnail" %>
    <%= image_tag 'pic-e.png', class: "img-thumbnail" %>
  </div>
</div>

<div class="jumbotron-1">
  <p>马上开始，寻找你满意的工作吧</p>
  <p class="lead"><a class="btn btn-lg btn-primary" href="/jobs">马上应聘</a></p>
</div>
